<%= render "components/auth_layout", title: t("login.title") do %>
  <%= form_with url: session_path, method: :post, class: "space-y-6" do |f| %>
    <%= render "forms/inputs/phone_input", form: f, field: :phone_number, label: t("login.phone_number"), placeholder: t("login.phone_placeholder") %>
    <%= render "forms/buttons/primary", label: t("login.submit") %>
  <% end %>

  <p class="text-center text-gray-600 mt-6">
    <%= t("login.no_account") %>
    <%= link_to t("login.register_link"), new_registration_path, class: "text-blue-600 font-medium hover:underline" %>
  </p>
<% end %>
