<%= render "components/auth_layout", title: t("registration.title") do %>
  <%= render "shared/form_errors", object: @user %>

  <%= form_with model: @user, url: registration_path, class: "space-y-6" do |f| %>
    <%= render "forms/inputs/text_input", form: f, field: :first_name, label: t("registration.first_name") %>
    <%= render "forms/inputs/text_input", form: f, field: :last_name, label: t("registration.last_name") %>
    <%= render "forms/inputs/phone_input", form: f, field: :phone_number, label: t("registration.phone_number"), placeholder: t("registration.phone_placeholder") %>
    <%= render "forms/buttons/primary", form: f, label: t("registration.submit") %>
  <% end %>

  <p class="text-center text-gray-600 mt-6">
    <%= t("registration.have_account") %>
    <%= link_to t("registration.login_link"), new_session_path, class: "text-blue-600 font-medium hover:underline" %>
  </p>
<% end %>
