<%# locals: (post:, show_comments: false) %>
<article class="bg-white overflow-hidden" data-controller="open-modal">
  <!-- Post Header -->
  <div class="flex items-center p-4">
    <%= link_to user_path(post.user) do %>
      <%= render "components/avatar", user: post.user, size: :md %>
    <% end %>
    <div class="ml-3">
      <%= link_to user_path(post.user), class: "font-medium text-gray-800 hover:underline" do %>
        <%= post.user.full_name %>
      <% end %>
      <p class="text-xs text-gray-500"><%= l post.created_at, format: :short %></p>
    </div>
    <% if logged_in? && post.user_id == current_user.id %>
      <div class="ml-auto">
        <%= link_to edit_post_path(post), class: "text-gray-400 hover:text-blue-600" do %>
          <%= inline_svg_tag "svg/edit.svg", class: "w-5 h-5" %>
        <% end %>
      </div>
    <% elsif logged_in? && !current_user.following?(post.user) %>
      <div class="ml-auto">
        <%= render "posts/follow_button", user: post.user %>
      </div>
    <% end %>
  </div>

  <p class="text-gray-800 mb-3 pl-3"><%= post.description %></p>

  <!-- Post Image -->
  <% if post.image.attached? %>
    <%= link_to post do %>
      <%= image_tag post.image.variant(resize_to_limit: [800, 800]),
          class: "w-full aspect-square object-cover" %>
    <% end %>
  <% end %>

  <!-- Post Content -->
  <div class="p-2">
    <%#= render "components/post_details", post: post %>

    <!-- Like Button, Comments, and Location -->
    <div class="flex items-center justify-between mt-0">
      <%= render "likes/like_button", post: post %>
      <% if post.location.present? %>
        <div class="flex items-center text-gray-500">
          <%= inline_svg_tag "svg/location.svg", class: "w-4 h-4 mr-1" %>
          <span class="text-sm"><%= post.location %></span>
        </div>
      <% end %>
    </div>

    <% if show_comments %>
      <%= render "comments/comments_section", post: post %>
    <% end %>
  </div>
</article>
